html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "regular";
  word-break: break-word;
  overflow-x: hidden;
  line-height: 1.5;
  min-height: 100vh;
  color: #474749;
  animation: 1s 0.1s fadeIn backwards;
}

@font-face {
  font-family: bold;
  src: url(../font/PlayfairDisplaySC-Bold.otf);
  font-display: swap;
}

@font-face {
  font-family: mediam;
  src: url(../font/PlayfairDisplaySC-Regular.otf);
  font-display: swap;
}

@font-face {
  font-family: regular;
  src: url(../font/PlayfairDisplay-Regular.otf);
  font-display: swap;
}

/* width */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  /* display: none; */
}

/* Track */

::-webkit-scrollbar-track {
  background: rgb(255 255 255);
  /* display: none; */
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #ab8d60;
  border-radius: 5px;
  /* display: none; */
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #fff2eb;
  /* display: none; */
}

::selection {
  color: #e8a33d;
}

.second-bg {
  background-color: #fff2eb !important;
}

.default-bg {
  background-color: #ab8d60 !important;
}

.color-selver {
  color: #e9e9e9;
}

.default-color {
  color: #8b5e3c;
}

.second-color {
  color: #fff2eb;
}

.color-red {
  color: #ff2222;
}

.bold {
  font-family: "bold";
}

.mediam {
  font-family: "mediam";
}

.regular {
  font-family: "regular";
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.f-14 {
  font-size: 14px;
}

.f-15 {
  font-size: 15px;
}

.f-13 {
  font-size: 13px;
}

.f-12 {
  font-size: 12px;
}

.f-10 {
  font-size: 10px;
}

.f-25 {
  font-size: 25px;
}

.f-20 {
  font-size: 20px;
}

.f-23 {
  font-size: 23px;
}

.f-27 {
  font-size: 27px;
}

.f-28 {
  font-size: 28px;
}

.f-29 {
  font-size: 29px;
}

.f-16 {
  font-size: 16px;
}

.f-17 {
  font-size: 17px;
}

.f-19 {
  font-size: 19px;
}

.f-67 {
  font-size: 67px;
}

.f-18 {
  font-size: 18px;
}

.f-34 {
  font-size: 34px;
}

.f-30 {
  font-size: 30px;
}

.f-37 {
  font-size: 37px;
}

a {
  text-decoration: none;
  color: #474749;
}

ul li {
  list-style: none;
}

.form-control:focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

a:hover {
  color: #ab8d60;
}

.w-350 {
  width: 350px;
}

.w-140 {
  width: 140px;
}

.w-110 {
  width: 110px !important;
}

.w-220 {
  width: 220px !important;
}

.h-120 {
  height: 120px;
  object-fit: cover;
}

.f-w7 {
  font-weight: 700;
}

.opacity-4 {
  opacity: 0.4;
}

.br-10 {
  border-radius: 10px !important;
}

.br-8 {
  border-radius: 8px !important;
}

.l-h5 {
  line-height: 1.5;
}

.flex-end {
  justify-content: flex-end;
}

.d-between {
  justify-content: space-between;
}

.pt-8 {
  padding-top: 8rem !important;
}

.color-gray {
  color: #757577;
}

.h-400 {
  height: 400px;
}

.h-300 {
  height: 300px;
}

/*===============================hover===============*/

.social a,
.categories,
.product-sec .product-details,
.product-sec .product-details img,
.logo,
header,
.navbar-toggler .navbar-toggler-icon,
.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after,
.deals-sec .swiper-details img,
.snack-sec .deal-details img,
.nav-link,
#scroll-top,
.submenu .btn-close,
.all-items .item-div,
.all-items .item-div img,
.snack-sec .product-details,
.snack-sec .product-details img,
.form-select,
.form-control,
.label-order label,
.account-sec .nav-pills .nav-link,
.account-sec .nav-pills .nav-link i,
header .second-table,
.sell-details a,
.sorted button,
.img-tag ,
.img-tag i {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/*===================================button==========================*/

.buttons .default-btn {
  padding: 18px;
  border-radius: 12px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border: solid 1px #ab8d60;
  cursor: pointer;
}

.buttons .default-btn:after,
.buttons .default-btn:before {
  width: 0%;
  height: 0%;
  content: "";
  position: absolute;
  border-radius: 100%;
}

.buttons .default-btn:after {
  transition: all 0.5s ease;
  background-color: #fff2eb;
}

.buttons .default-btn:before {
  transition: all 0.5s ease-out;
  background: #bfa885;
}

.buttons .default-btn span {
  z-index: 1;
  transition: all 0.3s ease-out;
}

.buttons .default-btn:hover span {
  color: #ab8d60;
}

.buttons .default-btn:hover:after,
.buttons .default-btn:hover:before {
  width: 520px;
  height: 220px;
}

.buttons .default-btn:hover:after {
  transition: all 0.7s ease-in;
}

.buttons .default-btn:hover:before {
  transition: all 0.5s ease-in;
}

.cart-sec .default-login.default-btn:hover:after,
.cart-sec
  .default-login.default-btn:hover:before
  .buttons
  .default-login.default-btn:hover:after,
.buttons .default-login.default-btn:hover:before {
  width: 100%;
  height: 200px;
}

/*=================== header===================*/

.tag_list span {
  font-size: 9px;
  cursor: pointer;
}

.tag_list.tag_list_hide {
  display: none;
}

.submenu .d-inline-flex {
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler .navbar-toggler-icon {
  position: relative;
  width: 1.5rem;
  height: 2.55px;
  border-radius: 15px;
}

.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 75%;
  height: 100%;
  margin: 0 auto;
  border-radius: inherit;
  background: inherit;
}

.navbar-toggler .navbar-toggler-icon {
  background-color: #ab8d60;
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -6px;
}

.navbar-toggler .navbar-toggler-icon::after {
  bottom: -6px;
  opacity: 1;
}

.navbar-toggler .navbar-toggler-icon.collapsed::before,
.navbar-toggler .navbar-toggler-icon.collapsed::after {
  width: 60%;
}

.navbar-toggler .navbar-toggler-icon:hover {
  background-color: #eac7b4 !important;
}

#scroll-top {
  position: fixed;
  bottom: 40px;
  right: 15px;
  z-index: 999;
  border-radius: 10px;
  width: 40px !important;
  height: 40px;
}

#scroll-top i {
  animation: rotate-y 1s ease-in-out infinite forwards;
}

@keyframes rotate-y {
  49% {
    transform: translateY(-100%);
  }

  50% {
    opacity: 0;
    transform: translateY(70%);
  }

  55% {
    opacity: 1;
  }
}

header {
  width: 100%;
  box-shadow: unset;
  background-color: #fff;
}

.sticky-navbar {
  position: fixed;
  top: 0px;
  padding: 0 !important;
  z-index: 1000;
  animation: sticky-animate 0.7s ease-in-out;
  box-shadow: rgb(255 243 237) -4px 9px 25px -6px;
}

.sticky-navbar .logo {
  height: 45px;
}

.sticky-navbar .third-left img {
  width: 40px;
}

.sticky-navbar .f-18 {
  font-size: 15px;
}

@keyframes sticky-animate {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.has-image[data-image-fit="contain"] .fancybox__image {
  border-radius: 10px;
}

header .first-head1,
header .third-head1 {
  justify-content: space-between;
}

header .navbar-brand {
  display: none;
}

header .first-head1 a {
  font-size: 13px;
}

header .first-head,
header .second-head,
header .third-head,
.fourth-head {
  border-bottom: 1px solid #f7f4f0;
}

header .logo {
  width: 150px;
  margin-inline-end: 45px;
}

.topmenu .num {
  background-color: #ff4b4b;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* width: 15px; */
  height: 15px;
  border-radius: 50%;
  font-size: 10px;
  padding-bottom: 2px;
  position: absolute;
  top: -7px;
  right: -3px;
  min-width: 15px;
  max-width: max-content;
}

.topmenu .num span {
  padding: 3px;
}

header .nav-link {
  color: #474749;
  margin: 0 10px;
  position: relative;
}

header .nav-link:hover,
header .nav-link:focus,
header .nav-link.active {
  color: #ab8d60;
}

.third-head .dropdown-menu[data-bs-popper] {
  top: 140%;
}

.third-head .dropdown-menu {
  padding: 1rem 1rem;
  border: 1px solid rgb(244 239 233);
  border-radius: 0.5rem;
}

.third-head .dropdown-item {
  border: 1px solid #ece5dc;
  border-radius: 10px;
  margin-inline-end: 10px;
  padding: 0.5rem 0.5rem;
}

.third-head .dropdown-item img {
  width: 30px;
  margin-inline-end: 10px;
}

.third-head .dropdown-item h3,
.third-head .more {
  font-size: 10px;
}

.third-head .dropdown-menu li {
  justify-content: center;
  align-items: center;
}

.third-head .more i {
  border: 2px solid #ab8d60;
  border-radius: 50%;
  padding: 1px 2px;
  margin-inline-end: 5px;
  font-size: 9px;
}

.third-left img {
  width: 50px;
  padding-inline-end: 10px;
}

header table input,
header table input:hover,
header table input:focus {
  border: none;
  width: 325px;
  box-shadow: none;
  outline: none;
  color: #ab8d60;
  font-size: 13px;
}

header table p {
  font-size: 12px;
}

.cu-e-menu-responsive {
  display: none;
}

header table input::placeholder {
  font-size: 12px;
}

header .second-table {
  border: 1px solid #ede7dd;
  padding: 6px 15px;
  border-radius: 10px;
}

header .second-table:hover,
header .second-table:focus {
  border-color: #ab8d60;
}

header .second-table .search {
  position: absolute;
  right: 3%;
  top: 34%;
}

.nav-item .nav-link:hover:before,
.nav-item.active .nav-link::before {
  transform: scaleX(1) scale(1);
}

.nav-item .nav-link::before {
  content: "";
  /* background-image: url(../img/icon-1.svg); */
  width: 50%;
  height: 50px;
  position: absolute;
  bottom: 20px;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  background-size: 17px;
  right: 0;
  left: 0;
  margin: 0 auto;
  transform: scaleX(-1) scale(0);
}

.topmenu .dropdown-toggle::after {
  display: none;
}

.topmenu .dropdown-menu {
  min-width: 7rem;
  font-size: 12px;
  color: #525254;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border: 1px solid rgb(243 239 233);
  border-radius: 10px;
}

.cm-e-menu {
  position: relative;
  z-index: 10000;
}

.cm-e-menu ul {
  margin: 0;
  padding: 0;
}

.cm-e-menu li {
  position: relative;
  cursor: pointer;
  text-transform: capitalize !important;
  list-style: none;

  -webkit-transition: background-color ease-in 300ms;
  -moz-transition: background-color ease-in 300ms;
  -ms-transition: background-color ease-in 300ms;
  -o-transition: background-color ease-in 300ms;
  transition: background-color ease-in 300ms;
}

.w-150 {
  min-width: 150px !important;
}

.cm-e-menu li:hover {
  color: #8b5e3c;
}

.cm-e-menu ul li.topmenu {
  display: inline-table;
}

.cm-e-menu .topmenu ul {
  display: none;
  position: absolute;
}

.cm-e-menu li:hover > ul {
  display: table;
}

.cm-e-menu ul.submenu {
  top: 100%;
  right: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 12px;
  color: #525254;
  box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px,
    rgb(0 0 0 / 4%) 0px 10px 10px -5px;
  border: 1px solid rgb(243 239 233);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  min-width: 240px;
}

.cm-e-menu ul.submenu .submenu {
  top: -0.5em;
  left: 100%;
  font-size: 1em;
}

.cm-e-menu ul.submenu li {
  padding: 0.2em 1.5em;
  font-size: 0.9rem;
}

.img-drop {
  width: 55px;
  border-radius: 10px;
  height: 55px;
}

.cm-e-menu ul.submenu h4,
.cm-e-menu ul.submenu span,
.cm-e-menu ul.submenu h5,
.cm-e-menu ul.submenu a {
  font-size: 12px;
}

/*===========================nav-panner=======================*/
.nav-panner .title-panner {
  background-image: url(../img/nav-panner.png);
  background-repeat: no-repeat;
  border-radius: 12px;
  background-size: cover;
  width: 100%;
  height: 145px;
}

.breadcrumb-item {
  font-size: 14px;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: none;
  content: var(--bs-breadcrumb-divider, ">");
  font-weight: 700;
  color: #474749;
  font-size: 11px;
}

.breadcrumb-item.active {
  color: #474749;
}

.title-panner nav {
  padding: 40px 95px;
}

.all-items .item-div {
  width: calc(100% / 5 - 15px);
  display: inline-block;
  margin-bottom: 20px;
  margin-inline-end: 13px;
  border: 1px solid #fff2eb;
  border-radius: 12px;
}

.all-items .item-div:hover {
  background-color: #fff2eb;
}

.all-items .item-div:hover img .product-sec .product-details:hover img,
.snack-sec .product-details:hover img {
  transform: scale(1.1);
}

.all-items .img-item {
  border: 1px solid #e2e2e2;
  border-radius: 12px;
}

/*=====================panner sec==================*/

.panner-details {
  padding: 0 90px;
  background-image: url(../img/bg-panner.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  height: 100%;
}

.panner-sec .swiper {
  width: 100%;
  height: 100%;
}

.panner-sec .swiper-wrapper {
  height: 550px;
}

.panner-sec .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.panner-sec .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(2.1);
  padding-top: 4rem;
  padding-right: 4rem;
}

.panner-sec .swiper-button-next:after,
.panner-sec .swiper-rtl .swiper-button-prev:after,
.panner-sec .swiper-button-prev:after,
.panner-sec .swiper-rtl .swiper-button-next:after {
  font-size: 20px;
  font-weight: 700;
}

.panner-sec .swiper-button-prev,
.panner-sec .swiper-rtl .swiper-button-next,
.panner-sec .swiper-button-next,
.panner-sec .swiper-rtl .swiper-button-prev {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ab8d60;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.panner-sec .swiper-button-next.swiper-button-disabled,
.panner-sec .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  background-color: #fff2eb;
  color: #ab8d60;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 11%;
}

.panner-sec .swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 15px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 15px)
  );
  background: transparent;
  opacity: 1;
  border: 2px solid #ab8d60;
}

.panner-sec .swiper-pagination-bullet-active {
  opacity: 1;
  background: #ab8d60;
}

/*==============================categories-sec==================*/

.categories-sec .swiper {
  width: 100%;
  height: 100%;
}

.categories {
  border: 1px solid #f2eee7;
  padding: 15px 10px;
  border-radius: 15px;
}

.categories:hover {
  background-color: #fff2eb;
  border: 1px solid #fff2eb;
  color: #474749;
}

.categories-sec .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.categories-sec .swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 90px;
}

.categories-sec .swiper-button-prev,
.categories-sec.swiper-rtl .swiper-button-next,
.categories-sec .swiper-button-next,
.categories-sec .swiper-rtl .swiper-button-prev {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ab8d60;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
}

.categories-sec .swiper-button-prev,
.categories-sec .swiper-rtl .swiper-button-next {
  right: 10px;
  left: auto;
}

.categories-sec .swiper-button-next.swiper-button-disabled,
.categories-sec .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  background-color: #fff2eb;
  color: #ab8d60;
}

/*==================fresh-sec=======================*/

.fresh-sec .fresh-details {
  background-color: #eee7e2;
  height: 230px;
  padding: 35px 30px;
  border-radius: 15px;
}

.fresh-sec .img-freash {
  width: 45%;
  bottom: 0;
  right: 0px;
}

/*========================product-sec====================*/
.categories-sec .active.link-secondary,
.product-sec .active.link-secondary {
  font-weight: bold;
  color: #ab8d60;
}

.categories-sec .link-secondary:hover,
.product-sec .link-secondary:hover {
  color: #ab8d60;
}

.product-sec .product-display {
  justify-content: space-between;
  align-items: center;
}

.product-sec .product-details {
  width: calc(100% / 5 - 15px);
  display: inline-flex;
  margin-bottom: 20px;
  margin-inline-end: 10px;
}

/*===================deals sec========================*/
.deals-sec .default-btn i,
.product-sec .product-details .fa-shopping-cart {
  padding-inline-end: 10px;
}

.deals-sec .left-deal {
  height: 415px;
  padding: 65px 35px;
  border-radius: 15px;
  background-image: url(../img/Chips.svg);
  background-repeat: no-repeat;
  background-size: 105%;
  background-position-y: 156px;
  background-position-x: 95px;
}

.deals-sec .swiper-wrapper {
  height: auto;
}

.deals-sec .navigation {
  width: 100px;
  margin: auto;
}

.categories-sec .swiper-button-next:after,
.deals-sec .swiper-button-next:after,
.testmonial-slider .swiper-button-next:after {
  content: "\f30b";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
}

.categories-sec .swiper-button-prev:after,
.deals-sec .swiper-button-prev:after,
.testmonial-slider .swiper-button-prev:after {
  content: "\f30a";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
}

.deals-sec .swiper-button-prev,
.deals-sec .swiper-rtl .swiper-button-next,
.deals-sec .swiper-button-next,
.deals-sec .swiper-rtl .swiper-button-prev {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ab8d60;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 43%;
}

.deals-sec .swiper-button-next.swiper-button-disabled,
.deals-sec .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  background-color: #fff2eb;
  color: #ab8d60;
}

.deals-sec .swiper-details,
.product-sec .product-details,
.snack-sec .deal-details {
  border: 1px solid #f0f0f0;
  padding: 10px;
  border-radius: 15px;
}

.deals-sec .swiper-details:hover,
.snack-sec .deal-details:hover {
  background-color: #fff2eb;
  border-color: #fff2eb;
}

.deals-sec .swiper-details:hover img,
.snack-sec .deal-details:hover img {
  transform: scale(1.2);
}

.deals-sec .br-bottom,
.snack-sec .br-bottom,
.your-order .br-bottom {
  border-bottom: 2px solid #f3efe8;
  position: relative;
}

.deals-sec .br-bottom::before,
.snack-sec .br-bottom::before,
.your-order .br-bottom::before {
  content: "";
  width: 40%;
  height: 2px;
  background-color: #c0aa88;
  position: absolute;
  bottom: -2px;
}

.deals-sec .heart,
.product-sec .heart,
.snack-sec .product-details .heart,
.snack-sec .deal-details .heart {
  top: 10px;
  left: 10px;
  padding: 12px;
  border-radius: 10px;
  display: inline-flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.deals-sec .expand,
.product-sec .expand,
.snack-sec .product-details .expand,
.snack-sec .deal-details .expand {
  top: 10px;
  right: 10px;
  font-size: 16px;
}

.deals-sec .expand i,
.product-sec .expand i,
.snack-sec .product-details .expand i,
.snack-sec .deal-details .expand i {
  font-size: 20px;
}

.product-sec .product-details:hover,
.snack-sec .product-details:hover {
  background-color: #fff2eb;
  border-color: #fff2eb;
  box-shadow: rgb(255 242 235) -4px 9px 25px -6px;
}

.product-sec .product-details:hover img,
.snack-sec .product-details:hover img {
  overflow: hidden;
}

.product-sec .product-details:hover img {
  transform: scale(1.2);
}

/*================================salling-sec===============*/
.salling-sec .sell-details img {
  width: 75px;
  height: 75px;
  border-radius: 15px;
  object-fit: cover;
  margin-inline-end: 13px;
}

.salling-sec .br-bottom,
.title-left h3 {
  border-bottom: 1px solid #f3efe8;
  position: relative;
}

.salling-sec .br-bottom::before,
.title-left h3::before {
  content: "";
  width: 40%;
  height: 1px;
  background-color: #c0aa88;
  position: absolute;
  bottom: -1px;
}

/*====================================stay-sec=====================================*/

.stay-sec .stay-panner {
  padding: 100px 100px 60px;
  border-radius: 15px;
  position: relative;
}

.stay-sec .img-bgstay {
  position: absolute;
  width: 751px;
  right: -72px;
  top: -48px;
}

.stay-sec .form-mail {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border: transparent;
  border-radius: 12px;
  color: #8b5e3c;
  padding-inline-start: 45px;
  width: 261px;
  z-index: 1;
}

.stay-sec .form-mail::placeholder {
  font-size: 12px;
}

.stay-sec .img-mail {
  position: absolute;
  top: 40%;
  left: 4%;
  width: 15px;
}

.stay-sec .default-btn {
  position: absolute;
  right: 0;
  z-index: 2;
}

.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
    .valid-feedback
  ):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.stay-sec .details-stay img {
  width: 65px;
  padding-inline-end: 15px;
}

.stay-sec .details-stay {
  border-radius: 15px;
  margin-bottom: 30px;
  height: 105px;
  justify-content: center;
  align-items: center;
}

/*=========================================footer====================================*/
.social img {
  width: 100%;
  padding-inline-end: 15px;
}

.footer-logo {
  width: 155px;
}

footer i {
  padding-inline-end: 25px;
}

footer .border-top {
  border-top: 1px solid #f3efe8;
}

.social a:hover {
  transform: translate(0, -8px);
}

.p-footer {
  font-size: 12px;
}

footer a,
footer i {
  font-size: 13px;
}

footer h4 {
  font-size: 14px;
}

/*=======================snak.html======================*/
.snack-sec .product-details {
  border: 1px solid #f0f0f0;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.snack-sec .page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 12px;
}

.snack-sec .page-item {
  margin: 0 6px;
}

.snack-sec .page-link {
  padding: 0.6rem 1.1rem;
  color: #474749;
  border: 1px solid #f6f6f6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 10px;
  font-weight: 700;
  font-family: monospace;
  border-radius: 12px;
}

.snack-sec .page-link:hover,
.snack-sec .page-link:focus {
  color: #fff;
  background-color: #8b5e3c;
  border-color: #8b5e3c;
  outline: none;
  box-shadow: none;
}

.snack-sec .pagination {
  margin-top: 50px;
  margin-bottom: 50px;
}

.category-details-left img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.category-details-left span {
  font-family: monospace;
  font-weight: 600;
  background-color: #f4efec;
  border-radius: 50%;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.category-details-left {
  border: 1px solid #f2eee7;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 7px;
}

.category-left {
  border: 1px solid #e9e9e9;
  padding: 10px 20px;
  border-radius: 12px;
  margin-bottom: 25px;
}

.new-detail img {
  width: 60px;
  object-fit: cover;
}

.your-order .new-detail img {
  width: 85px;
  height: 85px;
}

.your-order {
  padding: 20px !important;
}

.new-detail {
  border-bottom: 1px solid #e9e9e9;
}

.br-0 {
  border: none;
}

/*===============login-signup-password=======================*/
.login-details {
  border: 1px solid #fbfaf7;
  border-radius: 30px;
  padding: 65px 100px;
  box-shadow: rgb(0 0 0 / 8%) 1px 1px 1px;
}

.login-details h2 {
  font-size: 35px;
}

.login-details h3,
.account-sec .tab-pane h3 {
  font-size: 14px;
}

.form-control,
.form-select {
  padding: 0.7rem 0.75rem;
  font-size: 12px;
  border: 1px solid #f7f4f0;
  border-radius: 8px;
}

.form-control {
  color: #a1a1a1;
}

.forget label,
.forget a {
  font-size: 12px;
  color: #a1a1a1;
}

.img-login video {
  object-fit: cover;
}

.img-login {
  border-radius: 25px;
}

.img-login::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../img/bg-login.png);
  border-radius: 25px;
  background-repeat: no-repeat;
}

.img-login::after {
  content: "";
  position: absolute;
  background-image: url(../img/logo-login.png);
  width: 100px;
  height: 170px;
  background-size: contain;
  background-repeat: no-repeat;
  inset: 0;
  margin: auto;
}

input[type="checkbox"] {
  accent-color: #ab8d60;
}

.login-details li {
  font-size: 12px;
  margin-bottom: 6px;
}

.list-ul li {
  list-style: disc !important;
}

.account-sec .tab-pane h2 {
  font-size: 20px;
}

.account-sec .nav-pills .nav-link {
  border: 1px solid #f3efe8;
  border-radius: 8px;
  margin-bottom: 7px;
  padding: 4px 15px;
  font-size: 14px;
  color: #474749;
  text-align: start;
  width: 100%;
}

.account-sec .nav-pills .nav-link.active,
.account-sec .nav-pills .nav-link:hover,
.account-sec .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #ab8d60;
}

.account-sec .table > thead {
  vertical-align: bottom;
  background-color: #f3eee7;
  border-radius: 19px;
  font-size: 13px;
}

.account-sec .table > :first-child {
  border: #f3eee7;
}

.account-sec .table > :not(:first-child),
.wishlist-sec .table > :not(:first-child) {
  border-top: none;
}

.account-sec .detail {
  border: 1px solid #f3efe8;
  border-radius: 10px;
}

.account-sec .table > :not(caption) > * > * {
  padding: 1rem 2rem;
}

.account-sec .th-scope {
  font-family: monospace;
  font-size: 15px;
}

.account-sec td {
  font-size: 13px;
}

.compare-sec .table > :not(caption) > * > * {
  padding: 1rem;
  width: 8%;
  text-align: center;
  height: 135px;
}

.compare-sec td img {
  width: 155px;
}

.compare-sec .table > tbody,
.wishlist-sec .table > tbody {
  vertical-align: middle;
}

.compare-sec td p {
  font-size: 14px;
  color: #9d9d9e;
  margin-bottom: 0;
}

td .stock {
  font-size: 14px;
  background-color: #e8d4c0;
  border-radius: 6px;
  padding: 7px 30px;
}

.compare-sec .default-btn,
.wishlist-sec .default-btn {
  padding: 4px 12px;
  border-radius: 6px;
  font-size: 13px;
}

.default2-bg {
  background-color: #8b5e3c !important;
}

.compare-detail {
  border: 1px solid #f3efe8;
  border-radius: 19px;
}

.wishlist-sec td img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.wishlist-sec .table > :not(caption) > * > * {
  padding: 2rem 1.5rem 1.5rem;
}

.wishlist-detail {
  border: 1px solid #f6f4ef;
  border-radius: 10px;
}

.wishlist-detail thead {
  background-color: #f3eee7;
}

/* 
th {
    white-space: nowrap;
} */

.fa-trash-alt {
  cursor: pointer;
}

.fa-trash-alt:hover,
.fa-trash-alt:focus {
  color: #ab8d60;
}

/*==============================about-us==============================*/
.welcome-sec img {
  object-fit: cover;
}

.provid-details img {
  object-fit: cover;
  width: 80px;
}

.performace-sec img {
  object-fit: cover;
}

.provid-details {
  border: 1px solid #f3efe9;
  border-radius: 10px;
  padding: 55px 17px 25px;
  margin-bottom: 25px;
}

.form-select {
  cursor: pointer;
}

.form-select:focus,
.form-control:focus {
  border-color: #ab8d60;
  box-shadow: none;
  color: #ab8d60;
}

.form-select:hover,
.form-control:hover {
  box-shadow: rgba(171, 141, 96, 0.5) 0px 2px 8px 0px;
}

.embed-responsive iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

.contact .login-details::before {
  content: "";
  background-image: url(../img/welcome1.png);
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 28% 100%;
  z-index: -1;
}

.contact .login-details::after {
  content: "";
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 28% 100%;
  z-index: -1;
}

.description .description-div {
  padding: 35px;
  border-radius: 8px;
  border: 1px solid #f6f4ef;
}

.swiper-product .myswiper-product2 .swiper-wrapper {
  height: 390px;
}

.swiper-product .swiper {
  width: 100%;
  height: 100%;
}

.swiper-product .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-product .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-product .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-product .swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-product .mySwiper2 {
  height: 80%;
  width: 100%;
}

.swiper-product .mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.swiper-product .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  background-color: #fff2eb;
  border-radius: 8px;
  border: 1px solid transparent;
  height: 90px;
  padding: 13px;
  opacity: 1;
}

.swiper-product .mySwiper .swiper-slide-thumb-active {
  border-color: #d2bca1;
}

.swiper-product .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.myswiper-product2 .swiper-slide-active {
  border: 1px solid #f6f4ef;
  border-radius: 8px;
  padding: 40px;
  height: 380px;
}

.size .button {
  float: left;
  margin: 0 5px 0 0;
  width: 40px;
  height: 35px;
  position: relative;
}

.size .button label,
.size .button input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.size .button input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.size .button input[type="radio"]:checked + label {
  background: #ab8d60;
  color: #fff;
  border-radius: 4px;
}

.size .button label {
  cursor: pointer;
  z-index: 90;
  font-size: 14px;
  padding: 5px 0px;
}

.product-sec input[type="number"] {
  width: 70px;
  height: 31px;
}

.sorted #dropdownMenuButton1 {
  width: 150px !important;
  height: 45px !important;
}

.sorted button {
  border: 1px solid #f7f4f0;
}

.sorted button:hover,
.sorted button:focus {
  border-color: #ab8d60;
}

.sorted .dropdown-toggle::after {
  position: absolute;
  right: 7%;
  top: 50%;
}

.sorted .dropdown-menu.show {
  width: 100%;
}

.snack-sec .buttons .default-btn {
  padding: 0px 10px;
  border-radius: 6px;
  font-size: 12px;
}

.snack-sec .form-control,
.form-select {
  border-radius: 6px;
}

.number-div {
  border: 1px solid #f9f7f3;
  padding: 7px;
  border-radius: 6px;
  color: #b0946a;
}

.ul-snack ul li {
  list-style: disc;
}

.ul-snack ul li::marker {
  font-size: 10px;
}

.ul-snack ul {
  padding-left: 1.5rem;
  margin-right: 25px;
}

.slider-labels {
  margin-top: 10px;
}

/* Functional styling;
   * These styles are required for noUiSlider to function.
   * You don't need to change these rules to apply your design.
   */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
   * Browsers can paint handles in their own layer.
   */
.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Slider size and handle placement;
   */
.noUi-horizontal {
  height: 3px;
}

.noUi-horizontal .noUi-handle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: -7px;
  top: -4px;
  background-color: #ab8d60;
}

/* Styling;
   */
.noUi-background {
  background: #d6d7d9;
}

.noUi-connect {
  background: #ab8d60;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
}

/* Handles and cursors;
   */
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.noUi-handle:active {
  border: 8px solid #345dbb;
  border: 8px solid rgba(53, 93, 187, 0.38);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}

/* Disabled state;
   */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

.category-left label {
  display: block;
  line-height: 22px;
  font-size: 12px;
}

.option-input,
.option-input2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 14px;
  width: 14px;
  transition: all 0.15s ease-out 0s;
  background: transparent;
  border: 1px solid #f0f0f0;
  color: #ab8d60;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1;
}

.option-input:hover,
.option-input:checked,
.option-input2:hover,
.option-input2:checked {
  border-color: #ab8d60;
}

.option-input:checked::before,
.option-input2:checked::before {
  display: flex;
  content: "\f00c";
  font-size: 9px;
  font-weight: bold;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Free";
  inset: 0;
}

.option-input:checked::after,
.option-input2:checked::after {
  content: "";
  display: block;
  position: relative;
  z-index: 1;
}

.option-input.radio,
.option-input2.radio {
  border-radius: 4px;
}

.option-input.radio::after,
.option-input2.radio::after {
  border-radius: 50%;
}

.category-left .buttons .default-btn {
  padding: 5px 20px;
}

.category2 {
  background-image: url(../img/oils.svg);
  background-repeat: no-repeat;
  background-position: right 20% bottom 3%;
  background-size: 42%;
}

.check-account {
  border: 1px solid #f3efe8;
  border-radius: 10px;
  padding: 17px 20px;
  height: 60px;
}

.check-account span {
  font-size: 12px;
  color: #fff;
  background-color: #facb1b;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.label-order label {
  display: flex;
  line-height: 23px;
  align-items: center;
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

.label-order label:hover {
  color: #ab8d60;
}

.label-order .option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 0px;
  background: transparent;
  border: 3px solid #bbbbbc;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  color: #ab8d60;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.7rem;
  outline: none;
  position: relative;
  z-index: 1;
}

.label-order .option-input:hover {
  border-color: #ab8d60;
}

.label-order .option-input:checked {
  background: transparent;
  border-color: #ab8d60;
}

.label-order .option-input:checked::before {
  display: flex;
  content: "\f00c";
  font-size: 13px;
  left: 1px;
  top: 1px;
  font-weight: bold;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Free";
}

.label-order .option-input.radio {
  border-radius: 4px;
}

.cart-sec td img {
  width: 90px !important;
  height: 90px !important;
}

.cart-sec input[type="number"],
.wishlist-responsive input[type="number"] {
  width: 80px;
  color: #ab8d60;
  font-size: 18px;
}

.cart-sec .form-control,
.cart-sec .form-select {
  padding: 0.5rem 0.75rem;
  border-color: #ab8d60;
}

.cart-sec .table > :not(caption) > * > * {
  padding: 1.5rem 1.5rem 1.5rem !important;
}

.cart-sec .number:after,
.cart-sec .number:before,
.wishlist-responsive .number:after,
.wishlist-responsive .number:before {
  position: absolute;
  right: 25%;
  width: 15px !important;
  height: 15px;
  font-size: 10px;
  pointer-events: none;
  background: #fff;
}

.cart-sec .number:after,
.wishlist-responsive .number:after {
  color: #ab8d60;
  content: "\25B2";
  background-color: #fff;
  top: 7px;
}

.cart-sec .number:before,
.wishlist-responsive .number::before {
  color: #ab8d60;
  content: "\25BC";
  background-color: #fff;
  bottom: 8px;
}

.cart-sec .default-btn {
  width: 220px;
  padding: 15px 20px !important;
  font-size: 15px;
}

/** Subscription **/
.form-subs label {
  cursor: pointer;
  padding-top: 10px;
}

.form-subs img {
  display: inline-flex;
  width: 100px;
  height: 40px;
  text-align: center;
  border-radius: 6px;
  object-fit: contain;
  padding: 5px 10px;
}

textarea {
  resize: none;
  height: 140px;
}

.form-subs input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.checkout-sec .buttons .default-btn {
  padding: 14px !important;
}

.checkout-sec .form-control,
.checkout-sec .form-select {
  padding: 0.9rem;
  border-radius: 10px;
}

.account-sec i {
  color: #b9b9ba;
}

.account-sec .nav-pills .nav-link.active i,
.account-sec .nav-pills .show > .nav-link i {
  color: #fff;
}

.account-sec .nav-pills .nav-link:hover i {
  color: #fff;
}

.sell-details a {
  padding: 0 10px;
  border-radius: 10px;
}

.sell-details a:hover {
  background-color: #fff2eb;
}

.img-contact2 {
  border-radius: 15px;
  overflow: hidden;
  height: 220px;
}

.dismissButton {
  font-size: 10px;
  height: 30px;
  padding: 0 15px;
}

.sorted i {
  color: #a1a1a1;
}

.form-subs label input[type="radio"]:checked + img {
  background-color: #fff2eb;
  border: 1px solid #ab8d60;
}

/* .compare-detail .default-btn,
.wishlist-detail .default-btn {
    white-space: nowrap;
} */

/* .wishlist-detail h4 {
    white-space: nowrap;
} */

/* .table-responsive::-webkit-scrollbar {
    display: none;
} */

.wishlist-responsive-all,
.compare-responsive-all,
.account-sec .detail-responsive {
  display: none;
}

.form-subs label {
  margin-bottom: 0 !important;
}
.color-redstock {
  color: #f22;
  font-size: 14px;
  border-radius: 6px;
  padding: 10px 30px;
  font-weight: 600;
}

/* galleryTop */
.gallery .swiper-slide {
  cursor: pointer;
}
.gallery img {
  width: 100%;
  height: auto;
}

/* thumbs */
.gallery-thumbs .swiper-slide {
  width: auto;
  border-radius: 10px;
  background-color: #fff2eb;
  border-radius: 8px;
  border: 1px solid transparent;
  height: 90px;
  padding: 13px;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
  border-color: #d2bca1;
}

.gallery-thumbs img {
  cursor: pointer;
  width: auto;
  height: 100px;
  border-radius: 10px;
  object-fit: contain;
}

.font-track{
  font-size: 16px !important;
}
.img-loginorder{
  position: relative;
  width: 90px;
  height: 90px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.img-loginorder .img-user{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg-stayhome.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.img-loginorder .img-user::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);

}
.img-tag {
  width: 23px;
  height: 23px;
  padding: 10px;
  background-color: #8b5e3c;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 1px solid transparent;
  top: 0;
  right: 0;

}


.img-tag i{
  color: #dcd0bd;
  font-size: 12px;
  transform: rotateZ(270deg);
}

.img-tag:hover {
  background: #dcd0bd;
  border-color: #8b5e3c;
}
.img-tag:hover i {
    color: #8b5e3c;
}

.btn-edit{
  width: 165px !important;

}
.h-55{
  height: 55px;
}




.avatar-upload {
  max-width: 105px;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  width: 23px;
    height: 23px;
    padding: 10px;
    background-color: #8b5e3c;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -9px;
    right: 0;
  margin-bottom: 0;
  border-radius: 100%;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #dcd0bd;
  border-color: #8b5e3c;
}
.avatar-upload .avatar-edit label i {
  color: #dcd0bd;
  font-size: 12px;
  transform: rotateZ(270deg);
}
.avatar-upload .avatar-edit input + label:hover i {
    color: #8b5e3c;
}
.avatar-upload .avatar-preview {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 100%;
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-image: url(../img/icon-user.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.avatar-upload .avatar-preview > div::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);

}




























.sleeve_content_sec .sld_content .owl-carousel {
  overflow: hidden;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: visible;
}
.sleeve_content_sec .sld_content .slider-container .slider .item {
  overflow: hidden;
}
.sleeve_content_sec .sld_content .slider-container .slider .content {
  -webkit-transition: transform 200ms ease-out;
  -moz-transition: transform 200ms ease-out;
  -ms-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
  width: 100%;
}
.sleeve_content_sec .sld_content .slider-container .slider .content img {
  width: 100%;
  height: 400px;
  cursor: pointer;
}




/*=============================media==================*/
@media (max-width: 1200px) {
  .account-sec .table > :not(caption) > * > * {
    padding: 1rem;
  }

  .cart-sec .table > :not(caption) > * > * {
    padding: 1.5rem 1.1rem !important;
  }
  .wishlist-sec .table > :not(caption) > * > * {
    padding: 1.5rem 1.2rem;
  }

  .cart-sec .number:after,
  .cart-sec .number:before {
    right: 16%;
  }

  .your-order .new-detail img {
    width: 65px;
    height: 65px;
  }

  .your-order .f-16 {
    font-size: 14px;
  }

  .your-order .f-25 {
    font-size: 18px;
  }

  .form-subs img {
    width: 100%;
  }

  .cart-sec .default-btn {
    padding: 15px 10px !important;
    font-size: 12px;
  }

  .f-17 {
    font-size: 14px;
  }

  .f-15 {
    font-size: 14px;
  }

  .snack-sec .pagination {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .f-37 {
    font-size: 27px;
  }

  .product-display {
    align-items: center !important;
  }

  .login-details {
    border-radius: 25px;
    padding: 50px 60px;
  }

  .compare-sec td img {
    width: 110px;
  }

  .compare-sec .table > :not(caption) > * > * {
    padding: 0.5rem;
  }

  .f-19 {
    font-size: 15px;
  }

  .performace-sec .f-19,
  .provid-details .f-19 {
    font-size: 19px !important;
  }

  .compare-sec td p {
    font-size: 13px;
  }

  td .stock {
    padding: 7px 10px;
  }

  .f-27 {
    font-size: 20px;
  }

  .wishlist-sec td img,
  .cart-sec td img {
    width: 80px;
    height: 80px;
  }

  .f-20 {
    font-size: 17px;
  }

  .product-sec .product-details {
    width: calc(100% / 4 - 15px);
  }

  .panner-sec .swiper-slide img {
    transform: scale(1.8);
    padding-right: 2rem;
  }

  .categories-sec .nav-link {
    font-size: 15px;
  }

  .f-67 {
    font-size: 55px;
  }

  .f-12 {
    font-size: 11px;
  }

  .w-140 {
    width: 120px;
  }

  .w-75 {
    width: 85% !important;
  }

  .deals-sec .left-deal {
    padding: 55px 20px;
    height: 420px;
  }

  .panner-sec .swiper-wrapper {
    height: 455px;
  }

  .f-28 {
    font-size: 26px;
  }

  .stay-sec .stay-panner {
    padding: 75px 75px 50px;
  }

  .stay-sec .img-bgstay {
    width: 680px;
  }

  .f-34 {
    font-size: 29px;
  }

  .stay-sec .details-stay img {
    width: 60px;
    padding: 0 10px;
  }
}

@media (max-width: 992px) {

  .flex-responsive{
    flex-wrap: wrap;
  }
  .flex-responsive .mb-5{
    margin-bottom: 15px !important;
    padding-inline-end: 20px;
  }
  .margin-responsive{
    margin-bottom: 10px;
  }
  .wishlist-responsive-all,
  .compare-responsive-all,
  .account-sec .detail-responsive {
    display: block;
  }

  .compare-responsive .stock {
    font-size: 14px;
    background-color: #e8d4c0;
    border-radius: 6px;
    padding: 10px 30px;
  }

  .compare-responsive,
  .wishlist-responsive,
  .detail-responsive {
    border: 1px solid #f3efe8;
    border-radius: 19px;
    padding: 25px 10px;
    margin-bottom: 15px;
  }

  .wishlist-detail,
  .compare-detail,
  .account-sec .detail {
    display: none !important;
  }

  .compare-responsive p {
    font-size: 12px;
  }

  .compare-responsive img {
    width: 190px;
  }

  .compare-responsive .buttons .default-btn {
    padding: 9px 14px;
  }

  .wishlist-responsive .img-responsive {
    height: 140px;
  }

  .wishlist-responsive .img-responsive img {
    object-fit: cover;
  }

  .wishlist-responsive .buttons .default-btn {
    padding: 8px 12px;
  }

  .login-details .img-login {
    display: none;
  }

  .f-10 {
    font-size: 14px;
  }

  .check-account {
    margin-bottom: 15px !important;
  }

  .new-detail .f-12 {
    font-size: 12px;
  }

  .cart-sec .default-btn {
    font-size: 15px;
    width: 200px !important;
    padding: 10px !important;
  }

  .number-div {
    padding: 13px;
    height: 100%;
  }

  .product-sec input[type="number"] {
    height: 100%;
  }

  .deals-sec .swiper-details,
  .product-sec .product-details,
  .snack-sec .deal-details {
    margin-bottom: 20px;
  }

  .f-17 {
    font-size: 17px;
  }

  .f-16 {
    font-size: 20px;
  }

  .snack-sec .buttons .default-btn {
    padding: 12px !important;
  }

  .category-details-left img {
    width: 70px;
    height: 70px;
  }

  .category-details-left .f-12 {
    font-size: 15px;
  }

  .category2 .f-14 {
    font-size: 16px;
  }

  .category-left label {
    display: block;
    line-height: 22px;
    font-size: 14px;
  }

  .new-detail .f-15 {
    font-size: 15px;
  }

  .new-detail .f-13 {
    font-size: 15px;
  }

  .performance-detail h3 {
    margin: 0 !important;
    margin-bottom: 10px !important;
  }

  .f-15 {
    font-size: 13px;
  }

  .provid-details {
    padding: 30px 17px 25px;
  }

  .contact .login-details::before,
  .contact .login-details::after {
    background-image: unset;
  }

  .login-details .row .col-lg-6:nth-child(2) {
    order: -1;
  }

  .login-details .img-contact {
    height: 280px !important;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 25px;
  }

  .compare-sec .table > :not(caption) > * > * {
    font-size: 14px;
  }

  .compare-sec td img {
    width: 60px;
  }

  .all-items .item-div {
    width: calc(100% / 3 - 20px);
  }

  .cu-e-menu-responsive {
    display: inline-flex;
  }

  header .dropdown-toggle.nav-link {
    display: none;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .third-left {
    display: none !important;
  }

  header .navbar-brand {
    display: inline-flex !important;
  }

  header .navbar-brand img {
    width: 35px;
  }

  .cm-e-menu li {
    padding-right: 20px;
  }

  .cm-e-menu li i {
    font-size: 20px;
  }

  header .navbar-nav {
    align-items: center;
  }

  .third-head1 {
    display: block !important;
  }

  .buttons .default-btn {
    padding: 15px;
  }

  .compare-detail .default-btn {
    padding: 8px !important;
  }

  .panner-sec .swiper-slide img {
    padding-right: 0rem;
    transform: scale(1.5);
  }

  .pt-8 {
    padding-top: 6rem !important;
  }

  .panner-sec .swiper-wrapper {
    height: 400px;
  }

  .panner-sec .swiper-button-prev,
  .panner-sec .swiper-rtl .swiper-button-next,
  .panner-sec .swiper-button-next,
  .panner-sec .swiper-rtl .swiper-button-prev {
    width: 35px;
    height: 35px;
  }

  .panner-sec .swiper-rtl .swiper-button-prev:after,
  .panner-sec .swiper-button-prev:after,
  .panner-sec .swiper-rtl .swiper-button-next:after {
    font-size: 16px;
  }

  .categories-sec .swiper-button-prev,
  .categories-sec.swiper-rtl .swiper-button-next,
  .categories-sec .swiper-button-next,
  .categories-sec .swiper-rtl .swiper-button-prev {
    width: 35px;
    height: 35px;
  }

  .categories-sec .swiper-button-next:after,
  .deals-sec .swiper-button-next:after,
  .testmonial-slider .swiper-button-next:after {
    font-size: 16px;
  }

  .deals-sec .swiper-button-prev,
  .deals-sec .swiper-rtl .swiper-button-next,
  .deals-sec .swiper-button-next,
  .deals-sec .swiper-rtl .swiper-button-prev {
    width: 35px;
    height: 35px;
  }

  .f-30 {
    font-size: 24px;
  }

  header .first-head,
  header .second-head {
    display: none;
  }

  .f-67 {
    font-size: 34px;
  }

  .panner-details img {
    transform: scale(1.3);
    padding-top: 0px;
    padding-right: 0px;
  }

  .f-28 {
    font-size: 24px;
  }

  .d-block9 {
    display: inline-block !important;
  }

  .product-sec h2,
  .title-catogry h2 {
    margin-bottom: 10px !important;
  }

  .product-sec .nav,
  .title-catogry .nav {
    margin-bottom: 30px !important;
  }

  .fresh-sec .fresh-details {
    margin-bottom: 20px;
  }

  .deals-sec .left-deal {
    height: 428px;
  }

  .product-sec .product-details {
    width: calc(100% / 3 - 15px);
  }

  .salling-sec .sell-details {
    margin-bottom: 25px;
    margin-inline-end: 40px;
  }

  .f-34 {
    font-size: 26px;
  }

  .stay-panner p {
    font-size: 14px;
  }

  .w-350 {
    width: 100%;
  }

  .stay-sec .form-mail {
    height: 55px;
    width: 275px;
  }

  .default-btn {
    font-size: 14px;
    padding: 16px;
  }

  .stay-sec .img-bgstay {
    display: none;
  }

  .stay-sec .stay-panner {
    background-image: url(../img/bg-stayhome.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: inherit;
  }

  .f-14 {
    font-size: 13px;
  }

  .stay-sec .details-stay {
    margin-bottom: 15px;
    height: 140px;
  }
}

@media (max-width: 767px) {
  .all-list .col-md-6:nth-child(2) {
    order: -1;
  }

  .account-sec .tab-pane {
    margin-top: 25px;
  }

  .account-sec .address-div .f-13 {
    font-size: 15px;
  }

  .account-sec .address-div {
    margin-bottom: 20px;
  }

  .product-sec .f-13 {
    font-size: 14px;
  }

  .myswiper-product2 .swiper-slide-active {
    padding: 15px;
  }

  .all-items .item-div {
    width: calc(100% / 2 - 15px);
  }

  .product-details .f-13 {
    font-size: 15px;
  }

  .flex-tablet {
    display: block !important;
    margin-bottom: 30px !important;
  }

  .flex-tablet h2 {
    margin-bottom: 15px;
  }

  .welcome-sec .col-lg-7 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .img2-welcome {
    margin-bottom: 20px;
  }

  .f-37 {
    font-size: 22px;
  }

  .product-sec .product-detail {
    margin-top: 15px;
  }

  .login-details .img-contact {
    height: 240px !important;
  }

  .login-div .f-13 {
    font-size: 14px !important;
  }

  .login-div .f-12 {
    font-size: 14px !important;
  }

  .login-details h2 {
    font-size: 29px;
  }

  .login-details {
    border-radius: 25px;
    padding: 35px 30px;
  }

  footer a,
  footer i {
    font-size: 14px;
  }

  footer h4 {
    font-size: 16px;
  }

  .social i {
    font-size: 20px;
  }

  .order-col2 {
    margin-bottom: 25px;
  }

  .panner-details {
    padding: 0 35px;
  }

  .f-67 {
    font-size: 29px;
  }

  .f-28 {
    font-size: 21px;
  }

  .stay-panner p {
    display: none;
  }

  .panner-sec .swiper-slide img {
    transform: scale(1.2);
    padding-top: 0;
  }

  .panner-sec .swiper-wrapper {
    height: 290px;
  }

  .panner-details h1 {
    margin-bottom: 20px !important;
  }

  .panner-sec .swiper-pagination-bullet {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 12px)
    );
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 12px)
    );
  }

  .categories-sec .nav-link {
    font-size: 14px;
    padding: 0.5rem;
  }

  .panner-sec .swiper-button-prev,
  .panner-sec .swiper-rtl .swiper-button-next,
  .panner-sec .swiper-button-next,
  .panner-sec .swiper-rtl .swiper-button-prev,
  .categories-sec .swiper-button-prev,
  .categories-sec.swiper-rtl .swiper-button-next,
  .categories-sec .swiper-button-next,
  .categories-sec .swiper-rtl .swiper-button-prev {
    width: 30px;
    height: 30px;
  }

  .panner-sec .swiper-button-next:after,
  .panner-sec .swiper-rtl .swiper-button-prev:after,
  .panner-sec .swiper-button-prev:after,
  .panner-sec .swiper-rtl .swiper-button-next:after,
  .categories-sec .swiper-button-prev:after,
  .deals-sec .swiper-button-prev:after,
  .testmonial-slider .swiper-button-prev:after {
    font-size: 16px;
  }

  .w-140 {
    width: 160px;
  }

  .product-sec .nav-link {
    font-size: 15px;
  }

  .product-sec .product-details {
    width: calc(100% / 2 - 15px);
  }

  .deals-sec {
    display: none;
  }

  .pt-8 {
    padding-top: 5rem !important;
  }

  .stay-sec .stay-panner {
    background-size: contain;
    background-position: bottom right -59%;
    padding: 45px 40px 25px;
  }

  .f-13 {
    font-size: 18px;
  }

  .stay-sec .details-stay img {
    width: 100px;
    padding-left: 20px;
  }

  .footer-logo {
    width: 200px;
  }

  .f-12 {
    font-size: 18px;
  }

  .stay-sec .form-mail {
    height: 55px;
    width: 357px;
  }

  .social img {
    width: 79%;
    padding-inline-end: 0px;
    margin-bottom: 20px;
  }

  footer .order-col {
    order: 1;
  }
}

@media (max-width: 575px) {
  .login-details h2 {
    font-size: 23px;
  }

  .title-panner nav {
    padding: 40px;
  }

  .snack-sec .page-link {
    padding: 0.3rem 0.8rem;
    border-radius: 9px;
    font-size: 15px;
  }

  .stay-sec .stay-panner {
    background-position: bottom right -47%;
  }

  .performace-sec .f-19,
  .provid-details .f-19 {
    font-size: 18px !important;
  }

  .stay-sec .form-mail {
    height: 50px;
    width: 300px;
  }

  .stay-sec .default-btn {
    right: 20%;
    padding: 13px !important;
  }

  .panner-details h1 {
    width: 300px;
  }

  .panner-details h2 {
    width: 380px;
  }

  .panner-sec .swiper-slide img {
    transform: scale(1.1);
    padding-top: 45px;
  }
}

@media (max-width: 480px) {
  .wishlist-responsive .default-btn {
    font-size: 14px;
    width: 130px !important;
  }
  .compare-responsive img {
    width: 100%;
  }
  .compare-responsive .ps-4 {
    padding-left: 0.5rem !important;
  }

  .compare-responsive .stock {
    display: block;
    width: 120px;
  }
  .d-block-responsive {
    display: block !important;
  }
  .compare-responsive .buttons .default-btn {
    margin-top: 20px;
  }

  .wishlist-responsive .img-responsive {
    height: 155px;
  }

  .swiper-product .mySwiper .swiper-slide {
    height: 95px;
    padding: 5px;
  }

  .all-items .item-div {
    width: 100%;
  }

  .f-29 {
    font-size: 25px;
  }

  .sorted #dropdownMenuButton1 {
    width: 125px !important;
  }

  .stay-sec .form-mail {
    padding-inline-start: 33px;
  }

  .panner-sec .swiper-slide img {
    transform: scale(1);
    padding-top: 60px;
  }

  .title-catogry .w-25 {
    width: 35% !important;
  }

  .product-sec .product-details {
    display: block;
  }

  .panner-details h1 {
    width: 250px;
  }

  .panner-details h2 {
    width: 203px;
  }

  .f-30 {
    font-size: 18px;
  }

  .f-37 {
    font-size: 20px;
  }

  .f-12 {
    font-size: 15px;
  }

  .footer-logo {
    width: 170px;
  }

  .stay-sec .default-btn {
    right: 0%;
    padding: 13px !important;
  }

  .f-34 {
    font-size: 24px;
  }

  .product-sec .product-details {
    width: calc(100% / 1 - 0px);
  }

  .panner-sec .swiper-slide img {
    transform: scale(1.3);
    padding-top: 45px;
  }

  .panner-details h2 {
    width: 160px;
  }

  .w-140 {
    width: 140px;
  }

  .stay-sec .stay-panner {
    padding: 25px;
  }
}

@media (max-width: 375px) {
  .f-27 {
    font-size: 16px;
  }
  .your-order .new-detail img {
    width: 50px;
    height: 50px;
  }

  .your-order .f-16 {
    font-size: 12px;
  }

  .your-order .f-25 {
    font-size: 15px;
  }

  .checkout-sec .buttons .default-btn {
    font-size: 12px;
  }

  .ul-snack {
    display: block !important;
  }

  .f-16 {
    font-size: 18px;
  }

  .f-12 {
    font-size: 14px;
  }

  .stay-sec .form-mail {
    width: 230px;
    height: 46px;
  }

  .panner-details h1 {
    width: 200px;
  }

  .f-67 {
    font-size: 25px;
  }

  .f-28 {
    font-size: 19px;
  }

  .panner-details h1 {
    width: 220px;
  }

  .title-catogry .w-25 {
    width: 50% !important;
  }

  .w-140 {
    width: 100px;
  }

  .stay-sec .default-btn {
    padding: 13px 8px !important;
    font-size: 12px;
  }

  .f-34 {
    font-size: 20px;
  }

  .stay-sec .form-mail {
    padding-inline-start: 30px;
    font-size: 10px;
  }

  .snack-sec .page-link {
    padding: 0.4rem 0.6rem;
    border-radius: 7px;
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .compare-responsive,
  .wishlist-responsive .d-flex {
    flex-wrap: wrap !important;
  }
  .wishlist-responsive .buttons .default-btn {
    padding: 8px;
    font-size: 11px;
  }

  .wishlist-responsive .img-responsive {
    height: 165px;
    margin-bottom: 10px;
  }

  .f-20 {
    font-size: 15px;
  }

  .cart-sec .col-lg-9 .d-flex {
    display: block !important;
  }

  .cart-sec .col-lg-9 .title {
    margin-bottom: 20px !important;
  }

  .wishlist-detail {
    margin-top: 20px !important;
  }

  .stay-sec .stay-panner {
    padding: 20px 10px;
  }

  .sorted #dropdownMenuButton1 {
    width: 104px !important;
  }

  .snack-sec .page-link {
    padding: 0.4rem;
  }

  .title-catogry .w-25 {
    width: 60% !important;
  }

  .product-sec input[type="number"] {
    width: 55px;
  }

  .snack-sec .buttons .default-btn {
    padding: 9px !important;
    font-size: 10px;
  }

  .number-div {
    padding: 10px;
  }

  .description .description-div {
    padding: 20px;
  }

  .deals-snack .d-inline-flex {
    display: block !important;
  }

  .fresh-details .buttons .default-btn {
    font-size: 13px;
  }

  .panner-details h1 {
    width: 170px;
  }

  .f-67 {
    font-size: 22px;
  }

  .stay-sec .details-stay img {
    width: 80px;
  }
}
